<div>
  <mat-tab-group animationDuration="0ms">
    <mat-tab label="Pipes">
      <ng-template matTabContent>
        <div>
          <p>Hoy es {{ldtFecha | date}}</p>
          <p>Hoy es {{ldtFecha | date:"dd/MM/yy"}}</p>
          <p>Hoy es {{ldtFecha | date:"dd/MMM/yyyy"}}</p>
          <p>Hoy es {{ldtFecha | json}}</p>
          <br>
          <p>Valor {{lnumValor}}</p>
          <p>Valor moneda {{lnumValor | currency}}</p>
          <br>
          <p>Valor {{lnumPerc}}</p>
          <p>Valor {{lnumPerc | percent}}</p>
          <br>
          <p>Texto {{lstrTexto}}</p>
          <p>Texto minúsculas {{lstrTexto | lowercase}}</p>
          <p>Texto mayúsculas {{lstrTexto | uppercase}}</p>
          <br>
        </div>
    </ng-template>
  </mat-tab>
  <mat-tab label="ng-template">
    <div>
      <ng-template #mytemplate>
        <div>
          <label>Esta es mi plantilla</label>
        </div>
      </ng-template>
      <ng-container *ngTemplateOutlet="mytemplate"></ng-container>
    </div>
  </mat-tab>
  <mat-tab label="Observable">
    <div>
      <button type="button" (click)="fnActiveObserver()">Activar Observable</button>
      <button type="button" (click)="fnTestObserver()">Probar Observable</button>
    </div>
  </mat-tab>
  </mat-tab-group>
</div>


