<div *ngIf="this.lbolUserLogu; then thenBlock else elseBlock"></div>
<ng-template #thenBlock>
  <div>
    <button type="button" routerLink="/home">Home</button>
    <button type="button" routerLink="/profile">Profile</button>
    <button type="button" routerLink="/accounts">Accounts</button>
    <button type="button" routerLink="">Home</button>
    <button type="button" (click)="LogOut()">Salir</button>
   </div>
</ng-template >
<router-outlet />
<ng-template #elseBlock>
  <div>
    <label>User:</label>
    <input type="text" maxlength="15" [(ngModel)]="lstrUser">
  </div>
  <div>
    <label>Password:</label>
    <input type="text" maxlength="15" [(ngModel)]="lstrPass">
  </div>
  <div>
    <button type="button" (click)="LogIn()">login</button>
  </div>
</ng-template>



