<h1>
  {{title}}
</h1>
<br>
<div *ngIf="this.service.lbolSignUp; then thenSignUp else elseSignUp"></div>
<ng-template #thenSignUp>
  <div>
    <app-signup></app-signup>
  </div>
</ng-template>
<ng-template #elseSignUp>
  <div>
    <div *ngIf="this.lbolUserLogu; then thenBlock else elseBlock"></div>
    <ng-template #thenBlock>
      <div>
        <button type="button" class="btn btn-primary" routerLink="/home">Home</button>
        <button type="button" class="btn btn-primary" routerLink="/profile">Profile</button>
        <button type="button" class="btn btn-primary" routerLink="/accounts">Accounts</button>
        <button type="button" class="btn btn-primary" routerLink="/transactions">Transactions</button>
        <button type="button" class="btn btn-primary" routerLink="/dashboard">Dashboard</button>
        <button type="button" class="btn btn-primary" (click)="fnLogOut()">Salir</button>
      </div>
      <div>
        <button  class="btn btn-md btn-outline-primary" routerLink="/home">Home</button>
        <button  class="btn btn-md btn-outline-primary" mat-button [matMenuTriggerFor]="menppal">Menú principal</button>
        <button  class="btn btn-md btn-outline-primary" (click)="fnLogOut()">Salir</button>
        <mat-menu #menppal="matMenu">
          <button class="btn btn-md btn-outline-primary" mat-menu-item [matMenuTriggerFor]="menmaestros">Maestros</button>
          <button class="btn btn-md btn-outline-primary" mat-menu-item [matMenuTriggerFor]="mentransactions">Transacciones</button>
          <button class="btn btn-md btn-outline-primary" mat-menu-item routerLink="/home">Home</button>
        </mat-menu>
        <mat-menu #menmaestros>
          <button class="btn btn-md btn-outline-primary" mat-menu-item routerLink="/profile">Profile</button>
          <button class="btn btn-md btn-outline-primary" mat-menu-item routerLink="/accounts">Accounts</button>
        </mat-menu>
        <mat-menu #mentransactions>
          <button class="btn btn-md btn-outline-primary" mat-menu-item routerLink="/transactions">Transactions</button>
          <button class="btn btn-md btn-outline-primary" mat-menu-item routerLink="/dashboard">Dashboard</button>
        </mat-menu>
      </div>
      <router-outlet />
    </ng-template>
    <ng-template #elseBlock>
      <div>
        <div>
          <label>User:</label>
          <input type="text" maxlength="15" [(ngModel)]="lstrUser">
        </div>
        <div>
          <label>Password:</label>
          <input type="text" maxlength="15" [(ngModel)]="lstrPass">
        </div>
        <div>
          <button type="button" (click)="fnLogIN()">login</button>
        </div>
        <div>
          <br>
          <label>{{lstrMessag}}</label>
          <br><br>
          <button type="button" (click)="fnSignUp()">Sign Up</button>
        </div>
      </div>
    </ng-template>
  </div>
</ng-template>
