<p>
  {{mensaje}}
</p>
<br>
<div *ngIf="this.bPreguntar ; then preguntar"></div>
<ng-template #preguntar>
<label>¿Confirma que desea guardar?</label>
<button type="button" (click)="this.service.fnSetResObserver('si')">Si</button>
<button type="button" (click)="this.service.fnSetResObserver('no')">No</button>
</ng-template>

<label>Codigo Usuario:</label>
<input type="text" maxlength="15" [(ngModel)]="codiUser">
<br>
<button type="button" (click)="fnGetAccounts()">Get Accounts</button>
<br>
<br>
<!-- <table *ngIf="lAccounts">
    <tr *ngFor="let row of lAccounts">
      <th>CodiUser:{{ row.NumeCuen }}</th>
      <th>Name:{{ row.NombCuen}}</th>
      <th>NombCuen:{{ row.NombCuen }}</th>
    </tr>
</table> -->
<div>
  <div>
    <label>Nombre Cuenta:</label>
    <input type="text" maxlength="15" [(ngModel)]="lsrtNombreCuenta">
  </div>
  <br>
  <div>
    <label>Número Cuenta:</label>
    <input type="text" maxlength="15" [(ngModel)]="lsrtNumeCuenta">
  </div>
  <div>
    <button type="button" (click)="fnSaveAccount()">Save Account</button>
  </div>
</div>
<br>
<br>
<div>
    <div id="idgridAccounts" class="grid">
        <angular-slickgrid gridId="gridAccounts"
            [columnDefinitions]="CDAccounts"
            [gridOptions]="GPAccounts"
            [dataset]="dsAccounts">
        </angular-slickgrid>
    </div>
</div>


